.admin-dashboard{
    background: none;
    background: #f0f0f0;
}

.sidebar{
    display: flex;
    background-color: #f0f0f0;

}
.dashboard-container{
    display: flex;
    background-color: #f0f0f0;
    min-height: max-content;
    overflow: hidden;
    padding-top: 0%;
}
.chart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    width: 100%;

}

.BarResponsiveContainer{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 20px;
}
.PieResponsiveContainer {
    flex: 1;
    padding: 10px;
    margin: 10px;
}
